* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
}

window#waybar {
  background-color: #3c4048;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: none;
}

button {
  box-shadow: inset 0 -2px transparent;
  border: none;
  border-radius: 0;
}

button:hover {
  background-color: #16181a;
}

#workspaces button {
  padding: 2px 8px;
  border-radius: 0;
  background: transparent;
  color: #ffffff;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
  box-shadow: inset 0 -2px #ffffff;
}

#workspaces button.urgent {
  color: #ff6e5e;
}

#clock,
#cpu,
#memory,
#pulseaudio {
  background-color: transparent;
  margin-right: 16px;
  color: #ffffff;
}

#pulseaudio {
  margin-right: 8px;
}

.modules-left,
.modules-center,
.modules-right {
  background-color: transparent;
  padding: unset;
}
